* {
    padding: 0;
    margin: 0;
}

.main-container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 6692px;
    background-color: #0A1117;
}

.main-container-learn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 2849px;
    background-color: #0A1117;
}

.main-container-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 3260px;
    background-color: #0A1117;
}

.main-container-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 2280px;
    background-color: #0A1117;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 104px;
    background-color: #0A1117;
}

.logo {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 92px;
    height: 44px;
}

.pink-logo {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #fff;
}

.goose-logo {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 40px;
    word-spacing: 50px;
    color: #ffB4D3;
}

.text-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    height: 21px;
    background-color: #0A1117;
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

.nav-text {
    word-spacing: 20px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: 550;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #243241;
    color: #fff;
    width: 92px;
    height: 44px;
    border: none;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 18px;
}

.login:hover {
    background-color: #1b2631;
    cursor: pointer;
}

.get-started {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 649px;
    height: 412px;
    background-color: #0A1117;
    text-align: center;
}

.get-started-head-text {
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 72px;
    font-weight: bold;
}

.get-started-text {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
    font-size: 26px;
}

.get-started-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 30px 40px rgba(240, 192, 158, 0.1);
    width: 214px;
    height: 68px;
    border: none;
    border-radius: 10px;
    background-color: #CEAAFF;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    outline: none;
    margin-bottom: -80px;
    font-weight: bold;
}

.get-started-button:hover {
    background-color: #c499ff;
    cursor: pointer;
}

.arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-top: 150px;
}

.project-ready-text {
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 150px;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 190px;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 54px;
}

.star-1 {
    width: 88px;
    height: 89.18px;
    margin-bottom: 10px;
}

.project-ready-DOA {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.project-ready-DOA button {
    height: 56px;
    border: none;
    border-radius: 100px;
    background-color: #182632;
    margin: 10px;
}

.large-button {
    width: 224px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.medium-button {
    width: 184px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.small-button {
    width: 179px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #23c9de;
}

.smaller-button {
    width: 153px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #ff9e9e;
}

.smallest-button {
    width: 130px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #707f8d;
}

.artwork {
    width: 1140px;
    height: 493px;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0px 0px 100px rgba(240, 192, 158, 0.1);
}

.artwork-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 404px;
    height: 44px;
    border: none;
    border-radius: 100px;
    margin-top: -20px;
    background-color: #ffb4d3;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.design-journey-head-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 80px;
    color: #e5e5e5;
    font-family: "Lato", sans-serif;
    padding-top: 130px;
    padding-left: 160px;
    font-size: 54px;
    font-weight: bold;
}

.design-journey-img {
    float: left;
    margin-left: 80px;
    margin-bottom: 50px;
    width: 80px;
    height: 60px;
}

.design-journey-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 54px;
    font-weight: bold;
    color: #37424d;
    padding-top: 50px;
}

.design-journey-row-text {
    font-family: "Lato", sans-serif;
    padding-bottom: 10px
}

.design-journey-middle-text {
    color: #ffb4d3;
    font-family: "Lato", sans-serif;
    padding-bottom: 10px
}

.works-with {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 340px;
    padding-top: 200px;
}

.head-text {
    color: #fff;
    font-size: 54px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.crypto-box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
}

.crypto-box {
    display: flex;
    background-color: #121e28;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 40px;
    outline: #2a3744;
    outline-style: solid;
    flex-wrap: wrap;
    width: 160px;
    height: 160px;
    margin: 20px;
}

.crypto-image-ethereum {
    width: 120px;
    height: 120px;
}

.crypto-image-polygon {
    width: 120px;
    height: 110px;
}

.crypto-image-gnosis-safe {
    width: 115px;
    height: 120px;
}

.crypto-image-snapshot {
    width: 110px;
    height: 120px;
}

.crypto-image-ens {
    width: 120px;
    height: 130px;
}

.crypto-image-open-sea {
    width: 110px;
    height: 130px;
}

.crypto-box-text {
    display: flex;
    flex-direction: row;
    text-align: center;
    color: #e5e5e5;
    font-family: "Montserrat", sans-serif;
    justify-content: space-evenly;
    font-weight: 500;
    margin-top: 5px;
    width: 200px;
}

.help-every-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 450px;
    width: 795px;
    height: 100px;
}

.help-head-text {
    color: #fff;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 54px;
}

.portrait-box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
    width: 1000px;
}

.portrait-box {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 160px;
    height: 140px;
    margin: 15px;
}

.portrait {
    border: none;
    border-radius: 40px;
    width: 160px;
    height: 160px;
}

.help-subject-text-row1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding-top: 30px;
}

.help-subject-text-row2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.help-subject-text-row3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.help-subject-text-row4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.help-text {
    color: #fff;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.star-text {
    width: 30px;
    height: 30px;
    margin: 0 20px
}

.star-text-big {
    width: 30px;
    height: 30px;
    margin: 0 20px;
    vertical-align: middle;
}
 
.weekly-digest {
    display: flex;
    flex-direction: column;
    margin-top: 450px;
    width: 1140px;
    height: 390px;
    background-color: #121e28;
    border: solid;
    border-color: #2a3744;
    border-radius: 30px;
    
}

.weekly-digest-head-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 54px;
    font-weight: bold;
    padding-top: 40px;
}

.weekly-digest-text {
    display: flex;
    flex-direction: column;
    color: #9aafc3;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 36px;
    padding-top: 30px;
    padding-left: 60px;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding-top: 75px;
    padding-left: 250px;
    width: 705px;
    height: 68px;
}

.input-email {
    display: flex;
    width: 506px;
    height: 68px;
    border: solid;
    border-color: #2a3744;
    border-radius: 16px;
    background-color: #121e28;
    font-family: "Monsterrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #3d4c5b;
    margin-right: 30px;
}

.input-subscribe {
    display: flex;
    width: 175px;
    height: 68px;
    background-color: #ceaaff;
    color: #10151a;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 16px;
}

input[type="submit"].input-subscribe:hover {
    background-color: #c499ff;
    cursor: pointer;
}
    
.press-container {
    display: flex;
    flex-direction: column;
    width: 1141px;
    height: 494px;
    padding-top: 150px;

}

.press-head-text {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 150px;
    width: 160px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 54px;
    color: #e5e5e5;
}

.press-image {
    width: 58px;
    height: 60px;
    padding-left: 30px;
    padding-bottom: 10px;
}

.press-see-all {
    color: #8395a7;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: bold;
    padding-left: 875px;
    padding-top: 25px;
    text-decoration: none;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1139px;
    height: 382px;
}

.decrypt-container {
    display: flex;
    flex-direction: column;
    width: 361px;
    height: 382px;
    background-color: #77e6ff;
    border: none;
    border-radius: 20px;
}

.decrypt-logo {
    margin: 30px;
    width: 120px;
    height: 39.92px;
}

.decrypt-head-text {
    padding-left: 30px;
    color: #10151a;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.decrypt-middle-text {
    padding-left: 30px;
    color: #10151a;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 75px;
}

.decrypt-bottom-text {
    padding-left: 30px;
    color: #10151a;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.blockworks-container {
    display: flex;
    flex-direction: column;
    width: 361px;
    height: 382px;
    background-color: #e2c1f9;
    border: none;
    border-radius: 20px;
}

.blockworks-logo {
    margin: 30px;
    width: 140px;
    height: 22.3px;
}

.blockworks-head-text {
    padding-left: 30px;
    color: #10151a;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.blockworks-middle-text {
    padding-left: 30px;
    color: #10151a;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 75px;
}

.blockworks-bottom-text {
    padding-left: 30px;
    color: #10151a;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.techcrunch-container {
    display: flex;
    flex-direction: column;
    width: 361px;
    height: 382px;
    background-color: #dbe268;
    border: none;
    border-radius: 20px;
}

.techcrunch-logo {
    margin: 30px;
    width: 159px;
    height: 23.97px;
}

.techcrunch-head-text {
    padding-left: 30px;
    color: #10151a;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.techcrunch-middle-text {
    padding-left: 30px;
    color: #10151a;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 75px;
}

.techcrunch-bottom-text {
    padding-left: 30px;
    color: #10151a;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-top: 15px;
    text-decoration: none;
}

.podcast-container {
    display: flex;
    flex-direction: column;
    width: 1141px;
    height: 494px;
    padding-top: 150px;

}

.podcast-head-text {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 150px;
    width: 160px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 54px;
    color: #e5e5e5;
}

.podcast-image {
    width: 58px;
    height: 60px;
    padding-right: 60px;
    padding-bottom: 10px;
}

.podcast-see-all {
    color: #8395a7;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: bold;
    padding-left: 875px;
    padding-top: 25px;
    text-decoration: none;
}

.podcast-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1140px;
    height: 442px;
}

.pomp-container {
    display: flex;
    flex-direction: column;
    width: 361px;
    height: 334px;
    background-color: #121e28;
    border: none;
    border-radius: 20px;
}

.pomp-logo {
    margin: 30px;
    width: 50px;
    height: 50px;
    border: solid;
    border-radius: 8px;
    border-color: #2a3744;
}

.pomp-head-text {
    padding-left: 30px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.pomp-middle-text {
    padding-left: 30px;
    color: #e2e2e2;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 70px;
}

.pomp-bottom-text {
    padding-left: 30px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.unstoppable-container {
    display: flex;
    flex-direction: column;
    width: 361px;
    height: 334px;
    background-color: #121e28;
    border: none;
    border-radius: 20px;
}

.unstoppable-logo {
    margin: 30px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 8px;
}

.unstoppable-head-text {
    padding-left: 30px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.unstoppable-middle-text {
    padding-left: 30px;
    color: #e2e2e2;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 50px;
}

.unstoppable-bottom-text {
    padding-left: 30px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.zima-container {
    display: flex;
    flex-direction: column;
    width: 361px;
    height: 334px;
    background-color: #121e28;
    border: none;
    border-radius: 20px;
}

.zima-logo {
    margin: 30px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 8px;
}

.zima-head-text {
    padding-left: 30px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.zima-middle-text {
    padding-left: 30px;
    color: #e2e2e2;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 75px;
}

.zima-bottom-text {
    padding-left: 30px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.star-bottom-decor {
    padding-top: 60px;
    width: 77px;
    height: 88px;
}

.goose-idea-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1140px;
    height: 306px;
    padding-top: 70px;
}

.goose-idea-head-text {
    color: #e5e5e5;
    font-family: "Lato", sans-serif;
    font-size: 54px;
    font-weight: bold;
    padding-bottom: 30px;
}

.goose-idea-middle-text {
    color: #5a6c7e;
    font-family: "Lato", sans-serif;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 60px;
}

.goose-idea-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 592px;
    height: 84px;
}

.telegram-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 280px;
    height: 84px;
    background-color: #ffc803;
    border: none;
    border-radius: 16px;
    box-shadow: 0px 0px 50px rgba(255, 200, 3, 0.1);
}

.telegram-logo {
    margin: 15px;
    width: 52px;
    height: 52px;
    border: none;
    border-radius: 10px;
}

.telegram-text-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 20px;
}

.telegram-head-text {
    color: #4d3705;
    font-family: "Montserrat",sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.telegram-middle-text {
    color: #4d3705;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    font-weight: 500;
}


.email-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 280px;
    height: 84px;
    background-color: #e2c1f9;
    border: none;
    border-radius: 16px;
    box-shadow: 0px 0px 50px rgba(226, 193, 249, 0.1);
}

.email-logo {
    margin: 15px;
    width: 52px;
    height: 52px;
    border: none;
    border-radius: 10px;
}

.email-text-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 20px;
}

.email-head-text {
    color: #40354b;
    font-family: "Montserrat",sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.email-middle-text {
    color: #40354b;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 168px;
    background-color: #121e28;
    margin-top: auto;
}

.footer-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 298px;
    height: 27px;
    padding-right: 125px;
    padding-left: 350px;
}

.footer-text-about {
    color: #ffffff;
    font-family: "Montserrat",sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
}

.footer-text-jobs {
    color: #ffffff;
    font-family: "Montserrat",sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
}

.footer-text-legal {
    color: #ffc803;
    font-family: "Montserrat",sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 284px;
    height: 56px;
}

.footer-image {
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.hero-container {
    display: flex;
    flex-direction: column;
    width: 1141px;
    height: 494px;
    padding-top: 150px;

}

.hero-head-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 160px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 54px;
    color: #e5e5e5;
}

.hero-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1140px;
    height: 442px;
}

.john-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 352px;
    height: 334px;
    background-color: #ffb4d3;
    border: none;
    border-radius: 20px;
}

.john-image {
    margin: 30px;
    width: 160px;
    height: 160px;
    border: none;
    border-radius: 40px;
    border-color: #2a3744;
}

.john-head-text {
    padding-left: 30px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.john-middle-text {
    padding-left: 30px;
    color: #e2e2e2;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 70px;
}

.john-bottom-text {
    padding-left: 30px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
